@tailwind base;
@tailwind components;
@tailwind utilities;
.font-poppins {
  font-family: 'Poppins', sans-serif;
  line-height: 28px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 3px;
}
body {
  background-color: #1e1e1e;
  fill: grey;
}
